@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            
            <li class="nav-item">
                <a style="font-weight:bold;color:white;font-size:15px;" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button style="font-weight:bold;color:white;font-size:15px;" type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a style="font-weight:bold; color:red; font-size:20px;" class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a style="font-weight:bold; color:red; font-size:20px;" class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
             